cached-property==1.5.2
certifi==2021.5.30
cycler==0.11.0
dataclasses==0.6
decorator==5.1.0
future==0.18.2
h5py==3.5.0
imageio==2.10.4
imgaug==0.4.0
joblib==1.1.0
kiwisolver==1.3.2
lmdb==1.2.1
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
networkx==2.6.3
numpy
opencv-python==4.5.4.58
pandas==1.3.4
parse==1.19.0
Pillow==8.4.0
protobuf==3.19.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
Shapely==1.8.0
six
tensorboardX==2.4
threadpoolctl==3.0.0
tifffile==2021.11.2
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tqdm==4.62.3
